<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard DolphinEndpoints</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-blue-50">

  <div class="flex flex-col min-h-screen">

    <!-- Sidebar -->
     <div class="bg-white h-12 w-full relative z-40 ">
      <h1 class="text-2xl font-bold mb-8 px-10">DolphinEndpoints</h1>
     </div>
    <div class="w-64 bg-white text-black h-full p-6 fixed shadow-lg">

      <ul class="space-y-6 my-5">
        <li>
          <a href="/monitorApp/home" class="flex items-center text-lg font-medium hover:text-gray-600">
            <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v14"></path>
            </svg>
            Home
          </a>
          <a href="/monitorApp/Crud" class="flex items-center text-lg font-medium hover:text-gray-600">
            <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v14"></path>
            </svg>
            Crud Users
          </a>
          <a href="/monitorApp/home" class="flex items-center text-lg font-medium hover:text-gray-600">
            <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v14"></path>
            </svg>
            Crud errors
          </a>
          <a href="/monitorApp/home" class="flex items-center text-lg font-medium hover:text-gray-600">
            <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v14"></path>
            </svg>
            Settings Monitor
          </a>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="flex-1 ml-64 p-6">
        
    </div>

</body>
</html>
